<%- include('./partials/head.ejs') %>

    <!-- MAIN STUFF -->
    <br><br>
    <center>
        <h2>History</h2>
    </center>
    <br><br>

    <div class="container row">
        <% for(let i = 0; i < images.length; i++){ %>

            <div class="col-md-3"></div>

            <div style="background: url(<%=images[i]%>) no-repeat center; background-size:cover; height:200px; width:200px; border:1px solid black" class="col-md-3"></div>
            <br><br>

            <div class="col-md-4">
                <form action="/view/cartit" method="POST">
                    <input type="hidden" name="imageUrl" value="<%= images[i] %>" />
                    <div class="input-group mb-3">
                        <input type="number" name="price" class="form-control" placeholder="Enter price" />
                        <button type="submit" class="btn btn-primary">Add To Cart</button>
                      </div>
                </form>
            </div>

            <div class="col-md-2"></div>

            <hr class="hide">
            <hr class="hide">

        <% } %>
    </div>
    

<%- include('./partials/leg.ejs') %>