<%- include('./partials/head.ejs') %>

    <!-- MAIN STUFF -->
    <a href="/view/history">history</a>
    <center>
        <br><br>
        <h2>DOGE FOUND</h2><br>
        <div style="background: url(<%=image%>) no-repeat center; background-size:cover; height:500px; width:500px; border:1px solid black"></div>
        <br><br>
        <a href="/view/home" class="btn btn-primary">Fetch New</a>
    </center>

<%- include('./partials/leg.ejs') %>